.navbar-container {
  padding-inline: 20px;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbar__logo {
  object-fit: contain;
}
.navbar__main {
  display: flex;
  gap: 25px;
  align-items: center;
}
.navbar__item {
  list-style: none;
}
.navbar__link {
  text-decoration: none;
  color: black;
}
.navbar__link:hover {
  color: blue;
}
